.password-container {
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: -40%;
  margin-left: 22.5%;
  border-radius: 10px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.password-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
  margin-top: 90px;
  margin-left: -90%;
}

.password {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password h1 {
  font-size: 2rem;
  text-align: start;
  width: 80%;
  margin-left: 50px;
  margin-bottom: 1rem;
  color: black;
}

.password-inputs {
  margin-bottom: 0.5rem;
  width: 60%;
  margin-left: 50px;
}

.password-input-btn {
  width: 35%;
  height: 50px;
  margin-top: 15px;
  margin-left: -100px;
  border-radius: 2px;
  background-color: #fcdc00;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
}

.password-input-btn:hover {
  cursor: pointer;
  background-color: #ffa000;
  transition: all 0.4s ease-out;
}

.password-btn {
  transform: translateX(320px) translateY(-40px);
  font-size: 1.6rem;
  padding: 0.15rem;
  margin-left: 1rem;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border-color: transparent;
  margin-top: 3px;
  margin-bottom: -100%;
  font-weight: bold;
}
.password-content-left {
  border-radius: 10px 0 0 10px;
  position: relative;
  margin-right: -100%;
  margin-left: 100%;
}

.password-img {
  width: 60%;
  height: 70%;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
}