.main-container {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffba46;

    @media screen and (max-width: 768px){
         height:1100px;
     }

    @media screen and (max-width:480px){
         height:1300px;
     }
}
.main-slider-container {
    width: 90% ;       
    height: 300px;
}
.slider {
    width: 100%;
    height: 120%;
    margin-left: -60%;
    margin-top: 20%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.slider::-webkit-scrollbar{
    display: none; 
}

.main-slider-container {
    position: relative;
    display: flex;
    align-items: center;
}

.slider-icon.left, .slider-icon.right{ 
    background-color: white;
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
    cursor: pointer;
    margin-top: 15%;
}
.slider-icon.left {
    left: -4%;    
}
.slider-icon.right {
    right: -3%;
}

.slider-icon.left:hover, .slider-icon.right:hover{ 
    opacity: 1;
}
.slider-card {
    width: 280px;
    height: 300px;
    /* padding: 30px; */
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
    /* background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    max-height: 380px;
    padding: 40px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
    display: inline-block; */

}

.slider-card:hover{
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.slider-card-image {
    width: 100%;
    height: 220px;
    /* background-color: rgb(0deg 0% 94% / 80%); */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* height: 190px;
    width: 200px;
    margin-left: 4px; */
}

.slider-card-title, .slider-card-description {
    margin: 5px 0px 5px 10px;
}
.slider-card-title {
    font-weight: 500;
    margin-top: 10px;
}
.slider-card-description {
    opacity: 0.5;
    font-size: 13px;
}

.DealsH1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 24px;
    margin-top: -30%;
    margin-left: 40%;
    @media screen and (max-width: 480px){
        font-size: 2rem
    }
}
.DealsH2 {
    font-size: 1.5rem;
    color: #ffa000;
    margin-bottom: 40px;
    margin-top: -20%;
    margin-left: -20%;
}