.home{
    display: flex;
  }
  .listContainer{
    /* -webkit-box-shadow: 30px 40px 50px 10px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47); */
    padding: 20px;
    margin: 20px;
  }
.listtitle{
    font-weight: 500;
    color: gray;
    margin-top: 15px;
}