.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    width: 20%;
    background-color: rgb(236, 236, 240);
    position: sticky;
    top: 50px;
}

.sidebarWrapper{
    padding: 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 17px;
    /* color: rgb(187, 186, 186); */
    color: black;
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarListItem{
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem:hover{
    background-color: #fb9e00;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 30px !important;
}