.editBtn {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: blue;
}
.deleteBtn {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: red;
}

/* .badge {
  width: max-content;
  height: 26px;
  color: white;
  border-radius: 15px;
  padding: 5px;
}
.badgeYellow {
  background-color: #22e03e;
}
.badgeBlue {
  background-color: #fb9e00;
}
.badgeRed {
  background-color: #ff0000;
}
p {
  text-align: center;
} */

.editBtn:hover {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #30aba5;
}

.deleteBtn:hover {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #e64343;
}

.status {
  width: max-content;
  height: 26px;
  color: white;
  border-radius: 15px;
  padding: 5px;
}
  .status.Accept {
    background-color: #22e03e;
  }
  .status.Pending {
    background-color: #fb9e00;
  }
  .status.Reject {
  background-color: #ff0000;
}