.managetable {
  border-spacing: 20px;
  margin-left: 40%;
  margin-top: -70%;
  flex: 4;
}
.cellWrapper {
  display: flex;
  align-items: center;
}
.tableCell1 {
  width: 8px;
}

.image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.action {
  padding: 5px;
  border-radius: 5px;
}
.action.Approved {
  color: green;
  background-color: rgba(0, 128, 0, 0.151);
}
.action.Pending {
  color: goldenrod;
  background-color: rgba(189, 189, 3, 0.103);
}
.home {
  display: flex;
}
.listContainer {
  /* -webkit-box-shadow: 30px 40px 50px 10px rgba(0,0,0,0.47);
  box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47); */
  padding: 20px;
  margin: 20px;
}
.editbtn {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: blue;
}
.deletebtn {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: red;
}
